.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "start middle"
}

.start-container {
    grid-area: start; 
    

}

.middle-container {
    grid-area: middle;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "search"
    "welcome"
    "project1"
    "project2"
    "project3"

}

.search-container {
    display: grid;
    grid-area: search;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "searchbar profile"
}

.search {
    grid-area: searchbar;
    border: 1px solid black;
}

.profile {
    grid-area: profile;
    border: 1px solid red;
}

.welcome-container {
    grid-area: welcome;
    grid-template-rows: auto;
    display: grid;
    grid-template-areas: 
    "message buttons"
}

.message {
    grid-area: message;
    border: 1px solid blue;
}

.buttons {
    grid-area: buttons;
    border: 1px solid blue;

}

.project-1-container {
    grid-area: project1;
    grid-template-columns: 1.8fr 1.8fr 1.6fr;
    display: grid;
    grid-template-areas: 
    "project1 project2 announcement"
}

.project1 {
    grid-area: project1;
    border: 1px solid green;
}

.project2 {
    grid-area: project2;
    border: 1px solid green;
}
.announcement {
    grid-area: announcement;
    border: 1px solid green;
}

.project-2-container {
    grid-area: project2;
    grid-template-columns: 1.8fr 1.8fr 1.6fr;
    display: grid;
    grid-template-areas: 
    "project3 project4 ."
}

.project3 {
    grid-area: project3;
    border: 1px solid green;
}

.project4 {
    grid-area: project4;
    border: 1px solid green;
}

.project-3-container {
    grid-area: project3;
    grid-template-columns: 1.8fr 1.8fr 1.6fr;
    display: grid;
    grid-template-areas: 
    "project5 project6 trending"
}

.project5 {
    grid-area: project5;
    border: 1px solid green;
}

.project6 {
    grid-area: project6;
    border: 1px solid green;
}

.trending {
    grid-area: trending;
    border: 1px solid green;
}

.dashboard {
    grid-area: sidebar1;
    border: 1px solid black;
}

.menu {
    grid-area: sidebar2;
    border: 1px solid black;

}

.settings {
    grid-area: sidebar3;
    border: 1px solid black;
}