:root {
    font-size: 62.5%;
    --bg-color: #201f40;
    --primary-color: #fff6f6;
    --secondary-color: #151429;
    --accent-color: #27264d;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: 'VT323', monospace;
}

/* element styles */
h1 {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

svg {
    fill: var(--primary-color);
}


/* whole container */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas:
    "start middle";
}

/* start */

.start-container {
    background-color: var(--secondary-color);
    font-size: 2rem;
    grid-area: start; 
    display: grid;
    grid-template-rows: 0.5fr 2fr 3fr;
    grid-template-areas: 
    "sidebar1"
    "sidebar2"
    "sidebar3";
    max-height: 100vh;
}

.dashboard{
    padding: 1.5rem 0rem 0rem 1rem;
    grid-area: sidebar1;
}

.menu {
    grid-area: sidebar2;
    font-size: 2.5rem;
}

.menu li, .settings li {
    margin: 2.5rem 0rem;
}

.menu li svg, .settings li svg {
    width: 50px;
    margin-right: 2.5rem;
} 

.settings {
    grid-area: sidebar3;
    font-size: 2.5rem;
}

/* middle */

.middle-container {
    grid-area: middle;
    display: grid;
    grid-template-rows: 1.2fr 2fr 2fr 2fr;
    grid-template-areas: 
    "navbar"
    "body";
    max-height: 100vh;
    overflow-y: scroll; 
}

.navbar {
    display: grid;
    grid-area: navbar;
    grid-template-areas: 
    "searchbar"
    "welcome";
}

.search-container {
    margin-top: 1.5rem;
    grid-area: searchbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;
}

.searchbar-ui {
    width: 700px;
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 2rem;
}

.l-search-ui, .r-search-ui {
    display: flex;
    align-items: center;
    gap: 0rem 2rem;
    font-size: 1.5rem;
    padding-right: 1rem;
}

.search-container svg {
    fill: var(--primary-color);
    transform: scale(1.5)
}

.search-container img {
    width: 60px;
    height: auto;
}

/* welcome msg */
.welcome-container {
    grid-area: welcome;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.welcome-container img {
    width: 90px;
    height: 90px;
}

.message {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 0rem 2rem;
    font-size: 1.5rem;
}

.buttons button {
    margin: 0rem 1rem;
    box-sizing: content-box;
    padding: 0.8rem 1rem;
    border-radius: 3rem;
    border: none;
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-weight: 700;
    font-family: 'VT323', monospace;
    font-size: 2rem;
    width:100px;
}


/* projs */
.body-container {
    background-color: var(--accent-color);
    grid-area: body;
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    grid-template-areas:
    "my-projects misc";
    font-size: 2rem;

}

.project-container {
    grid-area: my-projects;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-container h2 {
    margin-left: 3rem;
    font-size: 2em;
}

.project1-container,
.project2-container,
.project3-container {
    display: flex;
    justify-content: center;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem 3rem;
    background-color: var(--bg-color);
    color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    padding: 0rem 2rem;;
    width: 400px;
    height: 250px;
    border-radius: 1.5rem;
    border-right: 6px solid hsl(257, 31%, 51%, 30%);
    transition:all 0.4s ease-in;
}

.project:hover {
    transform: translateY(-5px);
}

.project h3 {
    margin-bottom: 0;
    font-size: 1.2em;
    color: #725da9;
    text-shadow: 2px 2px 1px black;
}

.misc-container {
    grid-area: misc;
    grid-template-rows: 1fr 1fr;
    display: flex;
    flex-direction: column;

}

.announcement-container {
    grid-area: announcement-log;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    width: 400px;
    border-radius: 1.5rem;
    transition:all 0.4s ease-in;
    padding: 2rem 2rem;

}

.misc-container h2 {
    margin-left: 3rem;
    font-size: 2em;
}

.announcement-container li {
    list-style-type: disc;
}

.a1, .a2, .a3 {
    width: 390px;
    border-bottom: 1px solid var(--primary-color)
}

.rank-1 {
    display: flex;
}

.ranking-container h4, .ranking-container p {
    margin: 0;
}
/* .ranking-container {
    display: flex;
} */

.rank-1 img {
    width: 60px;
    margin-right: 1rem;
    transform: translateY(-0.8rem);
}

